[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    width: 171px;
    height: 36px;
    text-transform: capitalize;
    border: 1px solid #323232 !important;
    padding: 8px 10px;
}

.paragraph {
    font-family: 'Montserrat';
    margin-bottom: 6px;
}
