.buttonsContainer {
    display: flex;
    gap: 24px;
}

.responseContainer {
    display: flex;
    gap: 107px;
    margin: 30px 92px 30px 96px;
    align-items: center;
}

.imageContainer {
    display: flex;
    height: auto;
}

.image {
    align-self: flex-end;
}

.textContainer {
    font-weight: 500;
}

.code {
    font-size: 30px;
    margin-bottom: 12px;
}

.text {
    font-size: 16px;
}

.info {
    font-size: 16px;
}