.sidebar {
    width: 317px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
    height: 100vh;
    padding: 16px 16px 0 70px;
    flex-direction: column;

    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.7s ease;

    pointer-events: none;
}

.sidebar.open {
    display: flex;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.background {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav a {
    color: #000;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 45px;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    color: #0059B2;
    text-decoration: underline;
}

.close {
    background-color: transparent;
    outline: none;
    border: none;
    justify-self: flex-end;
    margin-bottom: 23px;
    align-self: flex-end;
}

.close img {
    cursor: pointer;
}
