.radio {
    accent-color: black;
    height: 20px;
    width: 20px;
}

.radio::before {

}


.radio:checked::before {
}

.label {
    display: flex;
    gap: 10px;
    align-items: center;
}

.options {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
