.burgerMenuIcon {
    cursor: pointer;
}

.header {
    background-color: #fff;
    box-shadow: 
            0px 0px 2px 0px rgba(29, 29, 38, 0.1),
            0px 0px 40px 0px rgba(29, 29, 38, 0.13);
    display: flex;
    justify-content: space-between;
    padding: 17px 70px;
    align-items: center;
    margin-bottom: 47px;
}

.header h1 {
    color: #000;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
}