.container {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.number {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
}